<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>share</display-name>
  <welcome-file-list>
    <welcome-file>index</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>PublicIndexController</servlet-name>
    <servlet-class>controllers.publics.PublicIndexController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicIndexController</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PublicCatController</servlet-name>
    <servlet-class>controllers.publics.PublicCatController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicCatController</servlet-name>
    <url-pattern>/cat</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PublicDetailController</servlet-name>
    <servlet-class>controllers.publics.PublicDetailController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicDetailController</servlet-name>
    <url-pattern>/detail</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PublicCartController</servlet-name>
    <servlet-class>controllers.publics.PublicCartController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicCartController</servlet-name>
    <url-pattern>/cart</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PublicCheckoutController</servlet-name>
    <servlet-class>controllers.publics.PublicCheckoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicCheckoutController</servlet-name>
    <url-pattern>/checkout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PublicLoginController</servlet-name>
    <servlet-class>controllers.publics.PublicLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicLoginController</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PublicLogoutController</servlet-name>
    <servlet-class>controllers.publics.PublicLogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicLogoutController</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PublicRegisterController</servlet-name>
    <servlet-class>controllers.publics.PublicRegisterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicRegisterController</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>controllers.auth.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/auth/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>controllers.auth.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/auth/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminIndexController</servlet-name>
    <servlet-class>controllers.admins.AdminIndexController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexController</servlet-name>
    <url-pattern>/admin/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminIndexProductController</servlet-name>
    <servlet-class>controllers.admins.product.AdminIndexProductController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexProductController</servlet-name>
    <url-pattern>/admin/product/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminAddProductController</servlet-name>
    <servlet-class>controllers.admins.product.AdminAddProductController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddProductController</servlet-name>
    <url-pattern>/admin/product/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminEditProductController</servlet-name>
    <servlet-class>controllers.admins.product.AdminEditProductController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEditProductController</servlet-name>
    <url-pattern>/admin/product/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminIndexOrderController</servlet-name>
    <servlet-class>controllers.admins.order.AdminIndexOrderController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexOrderController</servlet-name>
    <url-pattern>/admin/order/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminDetailOrderController</servlet-name>
    <servlet-class>controllers.admins.order.AdminDetailOrderController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDetailOrderController</servlet-name>
    <url-pattern>/admin/order/detail</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminReportProductController</servlet-name>
    <servlet-class>controllers.admins.report.AdminReportProductController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminReportProductController</servlet-name>
    <url-pattern>/admin/report/product</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminReportRevenueController</servlet-name>
    <servlet-class>controllers.admins.report.AdminReportRevenueController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminReportRevenueController</servlet-name>
    <url-pattern>/admin/report/revenue</url-pattern>
  </servlet-mapping>
</web-app>